.data-model {
    position: fixed;
    z-index: 2;
    min-width: 41%;
    width: fit-content;
    min-height: 15em;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: var(--background_white_text_color);
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}