.otp-sender-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 1em;
}

.otp-sender-container h3 {
  width: 100%;
  border-bottom: 1px solid var(--boundary_light_text_color);
}

.otp-sender-container label {
  width: 100%;
  font-size: 0.9em;
}

.resend-otp-stat {
  font-size: 0.8em;
}

#otp_countdown {
  color: #ff0000;
}

.otp-try-again {
  color: var(--buttons_and_boxes);
}

.otp-sender-container .otp-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}
