:root {
  --main_text_color: #000;
  --background_white_text_color: #ffffff;
  --boundary_light_text_color: #dcdcdc;
  --buttons_and_boxes: #184d9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}